<div width=50% style="display: block; margin: auto">
    <img src="figures/ucl-logo.svg" width=100%>
</div>

### [UCL-ELEC0136 Data Acquisition and Processing Systems 2024]()
University College London
# Lab 3: Data Storage


<hr width=70% style="float: left">

### Objectives
* Learn the fundamentals of SQL syntax
* Learn how to connect to and quiery a local MySQL server with python
* Learn how NoSQL databases differ from standard SQL databases
* Learn how to use MongoDB to host your NoSQL online database
* Learn how to query your MongoDB NoSQL online database with python using `pymongo` 

### Outline

**YOU ARE DEVELOPPING AN APPLICATION TO KEEP TRACK OF ORDERS FOR A RETAIL COMPANY**

In this lab, you will learn the basics of how to use databases using python by coding elements of the backend of a webapp that handles the orders of a retail business. You will use this exemple use-case to get a sense of how SQL and NoSQL are used.

This notebook has 3 parts:

0. [Setting up](#0.-Setting-up)
1. [Crossing orders and user data with SQL](#1.-Crossing-orders-and-user-data-with-SQL)
2. [Saving item descritpions with NoSQL](#2.-NoSQL-with-MongoDB)

<hr width=70% style="float: left">

# 0. Setting up

<div class="alert alert-block alert-danger">
<b>üë©‚Äçüíªüë®‚Äçüíª Action required</b>

- Make sure you have completed all the tasks from [lab 0-SETUP](https://moodle.ucl.ac.uk/mod/url/view.php?id=7021492).
- Make sure that you are running this Notebook on the python kernel of the virtual environment `daps` that you created in lab 0. In VS Code, you can select the kernel with the botton on the top right corner of the window.
- Fill the `requirements.txt` with all the packages you will need for this assignment then run following cell. You can look up the requirements.txt file you created in lab 0-SETUP for reference.

</div>

## 0.1. Connecting the Notebook to the mysql server hosted on your computer.

<div class="alert alert-block alert-danger">
<b>üë©‚Äçüíªüë®‚Äçüíª Action required</b>

- Run the cells bellow and check that no errors are returned.
- If you get an error such as `ModuleNotFoundError: No module named 'mysql.connector'`, this means the package was not installed in the right virtual environment. Uncomment the command lines of one of the two debug options in the next cell to fix this issue.
</div>

In [3]:
# FOR DEBUGING IF THIS CELL RETURNS AN ERROR
# --------------------------------------------------
# DEBUG OPTION 1: Re-install the python librairies withing the right environment (recommended)

#!which pip #<-- Check the path of the pip you are using and make sure it is the one of your virtual environment
#!pip install mysql-connector-python #<-- Re-install the librairies in the right3

# --------------------------------------------------
# DEBUG OPTION 2: Manually add the path of the python librairies

#!pip show mysql-connector-python # Version of python of mysql-connector
#import sys
#sys.path.append('/usr/local/lib/python3.11/site-packages') #<-- Put here the path where "mysql-connector-python" was installed
# --------------------------------------------------


#Import python librairies into your Jupyter shell
import pandas as pd
import mysql.connector
from mysql.connector import Error

<div class="alert alert-block alert-danger">
<b>üë©‚Äçüíªüë®‚Äçüíª Action required</b>

- Run the cells bellow and check that no errors are returned.
- Change the password to the one you created when installing MySQL.

</div>

In [5]:
def create_server_connection(host_name, user_name, user_password):
    """
    This function attempts to establish a connection to a MySQL database server
    using the provided credentials.

    Args:
    - host_name (str): The hostname or IP address of the MySQL server.
    - user_name (str): The username for authenticating with the MySQL server.
    - user_password (str): The password for the user.

    Returns:
    - mysql.connector.connection.MySQLConnection or None: A MySQL database connection object if the connection is successful, or None if an error occurs during connection.
    
    Raises:
    - mysql.connector.Error: If an error occurs during the database creation process.
    
    
    """
    connection = None
    try:
        connection = mysql.connector.connect(
            host=host_name,
            user=user_name,
            password=user_password
        )
        print("MySQL Database connection successful")
    except Error as err:
        print(f"Error: '{err}'")

    return connection

In [6]:
###########################
# Task: 
#   change pw with the MySQL server password you chose in 0.1.1, and run the cell
#
###########################

pw = "" #<--- your password here
server_connection = create_server_connection("localhost", "root", pw)

MySQL Database connection successful

<div class="alert alert-heading alert-danger" style="background-color: white; border: 2px solid; border-radius: 5px; color: #000; border-color:#AAA; padding: 10px">
    <b>üíé Tip</b>

If the previous cell returned the error message`Error: '1045 (28000): Access denied for user 'root'@'localhost' (using password: YES)'`, this means you are using the wrong password. Please use the password you created for the root user in lab 0-SETUP. If you forgot the password, uninstall MySQL, go through task 0.1 of lab 0 again, and keep a record of the password.

If the previous cell returned the error message `Error: '2003: Can't connect to MySQL server on 'localhost:3306' (61 Connection refused)'`, this means the mysql server is not running. 

To turn it on:
* **MacOS :** System settings -> MySQL tab (at the bottom of the list) -> Start MySQL Server.
* **Windows :** Services icon in the Control Panel -> Scroll alphabetically to the MySQL service -> Right click the service -> Click Start Service.
* **Linux :** run `sudo service mysql start`.


</div>

## 0.2 Connecting the Notebook to your MongoDB database 

**What is MongoDB?**

**MongoDB is a flexible and scalable NoSQL database system that stores data in a document-oriented format (BSON)**. MongoDB environments provide users with a server to create databases with MongoDB. MongoDB stores data as records that are made up of collections and documents. That server can be access via an API, which allows for data manipulation with a variaty of programming languages (C, C++, C#, Go, Java, Python, Ruby and Swift). 

**Data structures in MongoDB**

In MongoDB, a **database** is the container for collections. A single **collection**  is the container for documents. **Documents** are usually key/value pairs but it can include arrays and subdocuments. It can support different data types. More information here: https://docs.mongodb.com/manual/reference/bson-types/. 

| Relational DB  | MongoDB  |
|---|---|
|  Database | Database  |  
| Tables  |  Collections |
| Rows  | Documents  |
| Index  |  Index |



You can find more information about MongoDB document structure https://docs.mongodb.com/manual/core/document/. If you are not familiar with JSON and BSON specifications, you might wish to read about them here:
- JSON: https://www.json.org/json-en.html
- BSON: http://bsonspec.org

<div class="alert alert-block alert-danger">
<b>üë©‚Äçüíªüë®‚Äçüíª Action required</b>

- Replace uri with the link you copied from MongoDB's online platform when setting the connection to the cluster.
    
- Replace $<password>$ with your password.

</div>

In [7]:
###########################
# Task: 
#   Replace uri with the link you copied from MongoDB's online platform
#
###########################

import pymongo
from pprint import pprint
from random import randint

uri = 'mongodb+srv://root:hyz105101@cluster0.vr550.mongodb.net/?retryWrites=true&w=majority&appName=Cluster0'

#########
# Create a new client and connect to the server
client = pymongo.MongoClient(uri)
# Send a ping to confirm a successful connection
try:
    client.admin.command('ping')
    print("Pinged your deployment. You successfully connected to MongoDB!")
except Exception as e:
    print(e)

Pinged your deployment. You successfully connected to MongoDB!

# 1. Crossing orders and client data with SQL

*Credit: This part takes a lot of inspiration from this [SQL with python tutorial](https://www.freecodecamp.org/news/connect-python-with-sql/), which could be valuable if you decide to use a SQL database for your project as it covers more ground than this lab.* 

*You can also check this [SQL tutorial about queries](https://towardsdatascience.com/data-analysis-in-mysql-operators-joins-and-more-in-relational-databases-26c0a968e61e) if you want to learn more about SQL synthax.*

<div class="alert alert-heading alert-danger" style="background-color: white; border: 2px solid; border-radius: 5px; color: #000; border-color:#AAA; padding: 10px">
    <b>üíé Tip</b>

In this lab, the SQL-specific commands are in all-caps (SELECT, INSERT...) while the name specific to the database aren't (order_id, client_dob...).
    
In practice, SQL doesn't differenciate between all caps and small caps, this is just to make it clearer to you what the SQL commands are.
</div>

## 1.1 Create and populate your SQL database

### 1.1.1 Create a database in your MySQL server and establish a connection

The SQL query to create a new database is: `CREATE DATABASE database_name` 

<div class="alert alert-block alert-danger">
<b>üë©‚Äçüíªüë®‚Äçüíª Action required</b>
    
- In the cell bellow, write an SQL query to create a database named "Retail".

</div>

<div class="alert alert-heading alert-danger" style="background-color: white; border: 2px solid; border-radius: 5px; color: #000; border-color:#AAA; padding: 10px">
    <b>üíé Tip</b>

If at some point you make a mistake (you gave the database the wrong name...), and want to start again, you can delete a database with the query `DROP DATABASE database_name`.
</div>

In [8]:
###########################
# Task: 
#   Write an SQL query to create a database named "Retail"
#
###########################


creata_database_query = "CREATE DATABASE IF NOT EXISTS Retail" #<--TODO: YOUR SQL QUERY HERE BETWEEN THE ""

######
cursor = server_connection.cursor()
try:
    cursor.execute(creata_database_query)
except Error as err:
    print(f"Error: '{err}'")

In [9]:
# RUN THIS CELL
def create_db_connection(host_name, user_name, user_password, db_name):
    """
    Create a MySQL database connection.

    Args:
    - host_name (str): The hostname or IP address of the MySQL server.
    - user_name (str): The username for authentication.
    - user_password (str): The password for authentication.
    - db_name (str): The name of the database to connect to.

    Returns:
    - connection (MySQLConnection): A MySQL database connection object if successful,
      or None if an error occurs.
      
    Raises:
    - mysql.connector.Error: If an error occurs during the database creation process.
      
    """
    
    connection = None
    try:
        connection = mysql.connector.connect(
            host=host_name,
            user=user_name,
            passwd=user_password,
            database=db_name
        )
        print("MySQL Database connection successful")
    except Error as err:
        print(f"Error: '{err}'")

    return connection

In [10]:
# RUN THIS CELL
db_connection = create_db_connection("localhost", "root", pw, "Retail")

MySQL Database connection successful

### 1.1.2 Create tables in your database, and insert rows in them

To simplify the code, we create two functions: 
- `execute_query` will be used to run queries that modify the database.
- `read_query` will be used to run queries that interogate the database without modifying it.

<div class="alert alert-block alert-warning">
<b>üë©‚Äçüíªüë®‚Äçüíª Optional action</b>
    
-  You can look into the [commit method documentation](https://dev.mysql.com/doc/connector-python/en/connector-python-api-mysqlconnection-commit.html) to understand how the method `execute_query` works.

-  You can look into the [fetchall method documentation](https://dev.mysql.com/doc/connector-python/en/connector-python-api-mysqlcursor-fetchall.html) to understand how the method `read_query` works.
    
    
</div>

In [11]:
# RUN THIS CELL
def execute_query(connection, query):
    """
    Execute a SQL query that modifies the database.

    Args:
    - connection (mysql.connector.connection.MySQLConnection): A MySQL database connection object.
    - query (str): The SQL query to be executed.

    Raises:
    - mysql.connector.Error: If an error occurs during the query execution, it is caught
                               and an error message is printed to the console. No exception
                               is raised to the caller, so handle exceptions as needed.

    Example:
        connection = mysql.connector.connect(
            host="localhost",
            user="username",
            password="password",
            database="mydatabase"
        )
        query = "SELECT * FROM mytable"
        result = execute_query(connection, query)
        for row in result:
            print(row)
    """
    cursor = connection.cursor()
    try:
        cursor.execute(query)
        connection.commit()
        print("Query successful")
    except mysql.connector.Error as err:
        print(f"Error: '{err}'")

In [12]:
# RUN THIS CELL
def read_query(connection, query):
    """
    Execute a SQL query that interogate the database without modifying it.

    Args:
    - connection (mysql.connector.connection.MySQLConnection): A MySQL database connection object.
    - query (str): The SQL query to be executed.

    Returns:
    - list: A list of tuples representing the result set of the query.
              Each tuple contains the data from a single row in the result.

    Raises:
    - mysql.connector.Error: If an error occurs during the query execution, it is caught
                               and an error message is printed to the console. No exception
                               is raised to the caller, so handle exceptions as needed.

    Example:
        connection = mysql.connector.connect(
            host="localhost",
            user="username",
            password="password",
            database="mydatabase"
        )
        query = "SELECT * FROM mytable"
        result = execute_query(connection, query)
        for row in result:
            print(row)
    """
    cursor = connection.cursor()
    result = None
    try:
        cursor.execute(query)
        result = cursor.feiitchall()
        return result
    except mysql.connector.Error as err:
        print(f"Error: '{err}'")

In the following cells, we will create a table named Orders that will contain the following columns:

| Column name  | data type in SQL syntax | 
|---|---|
|  order_id | INT  |  
| client_id  |  INT |
| item_id  | INT  |
| item_quantity  |  INT |
| price | FLOAT |

**IMPORTANT:** order_id is going to be the **primary key** of this table, meaning that it will be a unique identifier of each rows. In other words, two rows can't have the same order_id.

In [13]:
# RUN THIS CELL - Creating a table named Orders
create_table_Orders_query = """
CREATE TABLE Orders (
  order_id INT PRIMARY KEY,
  client_id INT,
  item_id INT,
  item_quantity INT,
  price FLOAT
);
"""
db_connection = create_db_connection("localhost", "root", pw, "Retail")
execute_query(db_connection, create_table_Orders_query)

MySQL Database connection successful
Error: '1050 (42S01): Table 'orders' already exists'

In [14]:
# RUN THIS CELL - Showing all the tables in the database (There should now be one table)
show_db_query = "SHOW TABLES;"

db_connection = create_db_connection("localhost", "root", pw, "Retail")
read_query(db_connection, show_db_query)

MySQL Database connection successful

AttributeError: 'CMySQLCursor' object has no attribute 'feiitchall'

In [15]:
# RUN THIS CELL - Adding data to table Orders
push_data_to_Orders_query = """
INSERT INTO Orders VALUES 
(1,101,10101,3,50.00),
(3,103,10103,2,30.00),
(4,101,10104,5,80.00),
(5,104,10101,1,15.00),
(6,103,10106,2,40.00),
(7,101,10101,3,50.00),
(8,102,10104,1,20.00),
(9,102,10109,1,1160000000.00),
(10,101,10110,1,10.00);
"""
db_connection = create_db_connection("localhost", "root", pw, "Retail")
execute_query(db_connection, push_data_to_Orders_query)

MySQL Database connection successful
Error: '1062 (23000): Duplicate entry '1' for key 'orders.PRIMARY''

In [ ]:
# RUN THIS CELL - Showing all the data in table Orders
show_orders_query = "SELECT * FROM Orders;"  #in SQL syntax, * means all the data

db_connection = create_db_connection("localhost", "root", pw, "Retail")
read_query(db_connection, show_orders_query)

In [ ]:
# RUN THIS CELL - Showing all the data in table Orders
show_orders_query = "SELECT DISTINCT item_id FROM Orders;"  #in SQL syntax, * means all the data

db_connection = create_db_connection("localhost", "root", pw, "Retail")
read_query(db_connection, show_orders_query)

**Your turn!**

<div class="alert alert-block alert-danger">
<b>üë©‚Äçüíªüë®‚Äçüíª Action required</b>
    
- Create a table called Clients with the following columns (**make client_id the primary key**):
| Column name  | data type in SQL syntax | 
|---|---|
| client_id  |  INT |
| client_name  | VARCHAR(10)  |
| client_dob  | DATE |

- Fill the Users table with the provided data bellow.

</div>



<div class="alert alert-heading alert-danger" style="background-color: white; border: 2px solid; border-radius: 5px; color: #000; border-color:#AAA; padding: 10px">
    <b>üíé Tip</b>

- VARCHAR and DATE types have to be in between '', exemple: 3rd of July 2023 is '2023-06-03'.
    
- Copy/paste the cells used in creating and filling the Orders table, and modify the queries where you need it.

- If at some point you make a mistake (you gave the table the wrong name...), and want to start again, you can delete a table with the query `DROP TABLE table_name`.
</div>

In [21]:
###########################
# Task: 
#   Create a table called Clients 
create_clients_table_query = """
CREATE TABLE IF NOT EXISTS Clients (
    client_id INT PRIMARY KEY,
    client_name VARCHAR(10),
    client_dob DATE
);
"""

In [ ]:
# RUN THIS CELL - Showing all the tables in the database (There should now be two tables)
show_db_query = "SHOW TABLES;"

db_connection = create_db_connection("localhost", "root", pw, "Retail")
execute_query(db_connection, create_clients_table_query)
read_query(db_connection, show_db_query)

In [33]:
#RUN THIS CELL - Data to add to the table Clients
clients_df = pd.read_csv("./Clients.csv", index_col=0)

In [ ]:
###########################
# Task: 
#   Fill the table Clients with the data above
#
###########################

for index, row in clients_df.iterrows():
    push_data_to_Clients_query = f"""
    INSERT INTO Clients (client_id, client_name, client_dob)
    VALUES ({index}, '{row['client_name']}', '{row['client_dob']}');
    """
    execute_query(db_connection, push_data_to_Clients_query)

In [ ]:
# RUN THIS CELL - Showing all the data in table Clients
show_orders_query = "SELECT * FROM Clients;"

db_connection = create_db_connection("localhost", "root", pw, "Retail")
read_query(db_connection, show_orders_query)

## 1.2 Interrogate your database

### 1.2.1 SELECT

To query data from databases, the SELECT statement is used. the SELECT
syntax is the following:

`SELECT column1, column2 FROM table_name;`

Where, column1, column2, ... are the field names of the table you want to select
data from. The data returned is returned in a table format.

<div class="alert alert-block alert-danger">
<b>üë©‚Äçüíªüë®‚Äçüíª Action required</b>
    
- Write a SQL query and use the `read_query` function to show the order_id and item_id columns of the Orders table. 

</div>

In [ ]:
###########################
# Task: 
#   show the order_id and item_id columns of the Orders table
#
###########################

show_orders_query = "SELECT order_id, item_id FROM Orders;"
orders = read_query(db_connection, show_orders_query)

for order in orders:
     print(order)

<div class="alert alert-block alert-danger">
<b>üë©‚Äçüíªüë®‚Äçüíª Action required</b>
    
- Write a SQL query and use the `read_query` function to show the different items_id in Orders.

</div>


<div class="alert alert-heading alert-danger" style="background-color: white; border: 2px solid; border-radius: 5px; color: #000; border-color:#AAA; padding: 10px">
    <b>üíé Tip</b>
    
**[`DISTINCT`](https://www.w3schools.com/sql/sql_ref_distinct.asp) in SQL is used to query the different values of a column.**
    
</div>

In [ ]:
###########################
# Task: 
#   show the different items_id in the Orders table
#
###########################

distinct_items_query = "SELECT DISTINCT item_id FROM Orders;"
distinct_items = read_query(db_connection, distinct_items_query)

for item in distinct_items:
    print(item)

### 1.2.2 WHERE and AND

A database can contain millions of records, therefore there is a need to filter the
results. The `WHERE` command serves this purpose, it is used to extract only the
records that fulfill a specified condition. The `AND` command allows to filter using multiple conditions.

**Example:** the following query would return the value in column1 of the rows of table_name where the value in column3 is equal to value3, and the value in column4 is greater than value4.

`SELECT column1 
FROM table_name
WHERE column3 = value3 AND column4 > value4;
`

<div class="alert alert-block alert-danger">
<b>üë©‚Äçüíªüë®‚Äçüíª Action required</b>
    
- Write a SQL query and use the `read_query` function to show the orders_id of orders made by client 101 that were less than 60 pounds.

</div>

In [ ]:
###########################
# Task: 
#   show the orders_id of orders made by client 101 that were less than 60 pounds
#
###########################

show_orders_query = """
SELECT order_id 
FROM Orders 
WHERE client_id = 101 AND price < 60;
"""

orders = read_query(db_connection, show_orders_query)

for order in orders:
    print(order)

### 1.2.3 INNER JOIN

We can query information from multiple tables using the [`INNER JOIN`](https://www.w3schools.com/sql/sql_ref_join.asp) statement.

**Example:** the following query would return the value in column1 of the rows of table1 where the value of column1 in table one corresponds to the value of column3 of table2, and where the value in column3 of table2 is equal to value3, and the value in column4 of table2 is greater than value4.

`SELECT table1.column1 
FROM table1
INNER JOIN table2 ON table1.column1 = table2.column3
WHERE table2.column3 = value3 AND table2.column4 > value4;
`

<div class="alert alert-block alert-danger">
<b>üë©‚Äçüíªüë®‚Äçüíª Action required</b>
    
- Write a SQL query and use the `read_query` function to show the orders_id and client_id of orders made by clients named Robert.

</div>

In [ ]:
###########################
# Task: 
#   show the orders_id of orders made by clients named Robert
#
###########################

show_orders_query = """
SELECT O.order_id 
FROM Orders O
INNER JOIN Clients C ON O.client_id = C.client_id 
WHERE C.client_name = 'Robert';
"""

orders = read_query(db_connection, show_orders_query)

for order in orders:
    print(order)

<div class="alert alert-block alert-warning">
    <b>üë©‚Äçüíªüë®‚Äçüíª Optional action</b>

**Let's do some prompt engineering to help craft SQL requests**    
- Open [ChatGPT](http://chat.openai.com)
- Type in the following prompt: `I have a SQL table called Clients and a SQL table called Orders on my database. I want to know how many different item_id has the user with user_id 101 ordered. Write a SQL query to find that information.`   
- Test the query generated by chatGPT, did it work?
    
</div>

In [ ]:
###########################
# Task: 
#   Use chatGPT to generate a query and execute that query.
#
###########################

#TODO

## 2. NoSQL with MongoDB

**What is NoSQL?**

NoSQL (which stands for "not only SQL") is a **category of database management systems** that diverge from traditional SQL (relational) databases. 

**In this part, we will demonstrate the ability of NoSQL to store Unstructured or Semi-Structured Data by using it to store the description of the different items that our retail website sells.**

## 2.1 Create item descriptions and add them to the NoSQL database

In MongoDB, a **database** is the container for collections. A single **collection**  is the container for documents. **Documents** are usually key/value pairs but it can include arrays and subdocuments. It can support different data types. More information here: https://docs.mongodb.com/manual/reference/bson-types/. 

| Relational DB  | MongoDB  |
|---|---|
|  Database | Database  |  
| Tables  |  Collections |
| Rows  | Documents  |
| Index  |  Index |

In the following cell, we create descriptions for the items on our website. Notice how different items type have different fields, and different number of fields. This is an exemple of **unstructured data**, and using SQL to store it would be a massive headache.

### 2.1.1 Create item descriptions

In [14]:
Item_descritions = [
    {
        "item_id": "10101",
        "item_type": "book",
        "languages": ["English", "French"],
        "title": "Moby Dick",
        "summary": "This book is about wales, boats and the sea.",
    },
    {
        "item_id": "10103",
        "item_type": "chair",
        "material": "Oak wood",
        "available_colors": ["Black", "Red"],
    },
    {
        "item_id": "10104",
        "item_type": "book",
        "languages": ["English"],
        "title": "How to use MongoDB",
        "summary": "This book might be usefull at some point",
    },
    {
        "item_id": "10106",
        "item_type": "sweater",
        "available_sizes": ["S", "M","L"],
        "material": "Coton",
        "available_colors": ["Black", "Red","Blue"],
    },
    {
        "item_id": "10109",
        "item_type": "rocket",
        "rocket_model": "Saturn V",
        "country_of_orgin": "USA",

    },
    {
        "item_id": "10110",
        "item_type": "lamp",
        "available_colors": ["Black", "White"],
        "lamp_type": "LED",

    },
    
]

### 2.1.2 Add the item descriptions to the MongoDB database

<div class="alert alert-block alert-danger">
<b>üë©‚Äçüíªüë®‚Äçüíª Action required</b>

- Upload the data to the database using `insert_on` or `insert_many` methods of the `MongoClient` class.


</div>

In [16]:
# RUN THIS - Create a database object called ‚Äúitems‚Äù
db = client.items

In [22]:
# RUN THIS - Create a collection called "descriptions"
descriptions = db.descriptions

In [ ]:
###########################
# Task: 
#   add the data to the database using the insert_one or insert_many methods
#
###########################

descriptions.insert_many(Item_descritions)

<div class="alert alert-block alert-warning">
    <b>üë©‚Äçüíªüë®‚Äçüíª Optional action</b>

- On MongoDB's online platform, go to Database -> Browse Collections and check that you have a database named items with a collection named descriptions.
    
</div>

## 2.2 Query the MondoDB database

<div class="alert alert-block alert-danger">
<b>üë©‚Äçüíªüë®‚Äçüíª Action required</b>

- Find an item whose item_type is "rocket". You can use the method `find_one`.

</div>
<div class="alert alert-heading alert-danger" style="background-color: white; border: 2px solid; border-radius: 5px; color: #000; border-color:#AAA; padding: 10px">
    <b>üíé Tip</b>
    
Look up this [tutorial](https://pymongo.readthedocs.io/en/stable/tutorial.html#getting-a-single-document-with-find-one) to learn to use the `find_one` function. No need to use `pprint` here, just use the regular `print` function.
    
   
</div>

In [ ]:
###########################
# Task: 
#   find an item whose item_type is "rocket"
#
###########################

rocket_item = descriptions.find_one({"item_type": "rocket"})

if rocket_item:
    print(rocket_item)
else:
    print("No rocket item found.")

<div class="alert alert-block alert-danger">
<b>üë©‚Äçüíªüë®‚Äçüíª Action required</b>

- Find all the items whose item_type is "book". You can use the method `find` .


</div>

<div class="alert alert-heading alert-danger" style="background-color: white; border: 2px solid; border-radius: 5px; color: #000; border-color:#AAA; padding: 10px">
    <b>üíé Tip</b>
    
Look up this [tutorial](https://pymongo.readthedocs.io/en/stable/tutorial.html#querying-for-more-than-one-document) to learn to use the `find` function. No need to use `pprint` here, just use the regular `print` function.
    
   
</div>

In [ ]:
###########################
# Task: 
#   Count the total students with final DAPS_assignment score equal to 3 and 8.
#
###########################

# Find all the items whose item_type is "book
books = descriptions.find({"item_type": "book"})

for book in books:
    print(book)

**Good news! All the books just became available in Greek.**

<div class="alert alert-block alert-danger">
<b>üë©‚Äçüíªüë®‚Äçüíª Action required</b>

- Update the languages array of the books to contain greek. You can use one of the following methods: `update_one`, `update_many`, or `replace_one`.

- Print all the languages array of all the books to check the Greek has been added. 


</div>

<div class="alert alert-heading alert-danger" style="background-color: white; border: 2px solid; border-radius: 5px; color: #000; border-color:#AAA; padding: 10px">
    <b>üíé Tip</b>
    
One possible method:

- Use `find` to identify all documents with item_type:"book".
- Extract the language array of each book with `languages = book["languages"]`, and use the method `.append()` to add "Greek" to the array.
- Finaly use `update_one` and the unique ObjectID of the document in the collection (`_id = book["_id"]`)to replace the old language field with the updated array. Look up this [tutorial](https://www.w3schools.com/python/python_mongodb_update.asp) to learn how to use it.

    
</div>

In [ ]:
###########################
# Task: 
#   Adjust the score on all the students graded by David with final mark 4 to 5.
#
###########################

# Step 1: Find all documents where item_type is "book"
books = descriptions.find({"item_type": "book"})

# Step 2: Iterate through each book document and update the languages array
for book in books:
    # Extract the current languages array of the book
    languages = book.get("languages", [])
    
    # If "Greek" is not in the languages array, add "Greek"
    if "Greek" not in languages:
        languages.append("Greek")
    
    # Use the update_one method to update the languages array for the book
    descriptions.update_one(
        {"_id": book["_id"]},  # Find the document by its unique _id
        {"$set": {"languages": languages}}  # Update the languages field
    )

# Step 3: Check the update result, print the languages array of all books
updated_books = descriptions.find({"item_type": "book"})

for updated_book in updated_books:
    print(f"Book ID: {updated_book['_id']}, Languages: {updated_book['languages']}")

## 2.3 Query both the SQL database and the MondoDB NoSQL database

<div class="alert alert-block alert-warning">
    <b>üë©‚Äçüíªüë®‚Äçüíª Optional action</b>

- Find the names and ids of the clients who bought the book "How to use MongoDB".
    
</div>

In [ ]:
###########################
# Task: 
#   Find the names and ids of the clients who bought the book "How to use MongoDB"
#
###########################


### TO DO

## 3. Submitting your assignment

To submit this assignment and **every other future assignment**, included the **final assignment** you have to:
- Commit and push your code to GitHub
- Go to **your** repository of the assignment. This must be on our course organisation `UCL-ELEC0136` and usually has the pattern `https://github.com/UCL-ELEC0136/<assignment-name>-<your-github-username>`.
- Go in the `Pull requests` tab and click on the `Feedback` pull request.
- Click on `Files changed` and verify that the files you have changed are listed.
- Merge the pull request by clicking on `Merge pull request` and then `Confirm merge`.

We are now ready to push our code that acquires data from GitHub to our repository (which is also GitHub, but this is just a coincidence, we could have used any other API, like Twitter's or Facebook's).

<div class="alert alert-block alert-danger">
<b>üë©‚Äçüíªüë®‚Äçüíª Action required</b>

Submit your assignment by following the steps above.
</div>